.Rate {
  display: flex;
  color: #446dd2;
  background: white;
  border: 1px solid #2c293336;
  border-radius: 10px;
  width: 140px;
  height: 20px;
  justify-content: center;
  align-items: center;
}

.Rate_label {
  margin-right: 5px;
}
