.CurrencyInput {
  display: flex;
  justify-content: space-between;
}

.CurrencyInput_select {
  min-width: 85px;
  max-height: 55px;
}

.CurrencyInput .MuiTextField-root {
  min-width: 100px;
  margin-left: 20px;
}

.CurrencyInput .MuiTextField-root .MuiInputBase-input {
  text-align: right;
}
